/* faq page*/
.faq p {
    border-bottom: 1px solid black;
    padding-bottom: 20px;

}

.faq {
    padding-right: 50px;
    padding-left: 50p;
    @media screen and (max-width: 768px) {
        padding-left: 50px;
    }
}
.faq h1 h3 {
    @media screen and (max-width: 768px) {
        margin-top: 20px;}
     
    }


