/* imagenes new season en index*/
.photo-grid-container {
    display: flex;
    justify-content: center;
    margin: 5px;
    object-fit: contain;


}
.photo-grid {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    
}
.photo-grid p{
    text-align: center;

}

.photo-grid-item img:first-child{
    margin-left: 40px;
    width: 250px;
    height: 250px;
    
}