/* page outlet */
/* image outlet */
.fotos-outlet {
    display: flex;
    justify-content: flex-end;
    height: 540px;
    display:flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: normal;
    align-items: center;
    @media screen and (max-width: 768px) {
        height: auto;
    }
}

.fotos-outlet img {
    margin-left: 40px;
    width: 180px;
    height: 180px;
    @media screen and (max-width: 768px) {
        margin-left: 0;
        margin-top: 20px;
    }
}
.fotos-outlet h1 {
   text-align: center;
margin-bottom: 20px;
@media screen and (max-width: 768px) {
    margin-top: 20px;
}

}