/* page sneakers */
/* images sneakers */
.fotos-sneakers {
    display: flex;
    justify-content: center;
    height: 500px;
    display:flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: normal;
    align-items: center;
    @media screen and (max-width: 768px) {
        height: auto;
    }

}

.fotos-sneakers img {
    margin-left: 40px;
    width: 180px;
    height: 180px;
    @media screen and (max-width: 768px) {
        margin-left: 0;
        margin-top: 20px;
    }

}

.fotos-sneakers p {
    position: relative;
   


}