/* fuente del proyecto*/
h1, h2, h3, h4, p {
    font-family: 'Raleway', sans-serif;
}

/* navbar posicion */
.navbar .navbar-expand-lg .navbar-light .bg-light {
    position: relative;
    top: 20px;
    left: 10px;
}